node_modules
dist
.DS_Store
.env

# Ignore output video
out

# Large temporary/model folders
whisper/
whisper.cpp/
Cloud-Rendered-Video/
Cloud-Rendered-Video-v2/
Cloud-Rendered-Video-v3/
transcript.json
